/* reset css */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { list-style: decimal; }
ul { list-style:none; }
a{text-decoration: none;}
q:before, q:after { content:''; }
*:focus {outline: none;}
/* end reset */
/*----------------------------Font name-----------------------------*/
	/*font: px georgia, serif;
	font: px "times new roman", times, serif;
	font: px arial, helvetica, sans-serif;
	font: px tahoma, geneva, sans-serif;
	font: px "trebuchet ms", helvetica, sans-serif;
	font: px verdana, geneva, sans-serif;
	font: px "ms serif", "new york", serif;
	font: px "arial black", gadget, sans-serif;
	font: px "lucida sans", unicode, "lucida grande", sans-serif;*/
@font-face {
	
}
/*---------------------------start---------------------------------*/
html{
 height:100%;
 background:#fff;
}
body{
 font:10px/10px Arial, Helvetica, sans-serif;
 min-height:100%;
 min-width: 80%;
 width: 80%;
 margin: 0 auto;
 color:#000;
}
/*:before,
:after*/
.container:before,
.container:after
{
	display: block;
	clear: both;
	content: '';
}

/*---------------------------HEADER----------------------------------*/
header{
	width: 100%;
 	margin: 10px auto;
 	padding: 20px;
 	border:1px solid black;

}
header .container{
	margin: 0 auto;
}
header .container h1{
	font-size: 30px;
	line-height: 30px;
}
/*-----------------------------MAIN-------------------------------*/
main{
	width: 100%;
	margin: 10px auto;
 	padding: 20px;
 	border:1px solid black;
}
main .container{
	margin: 0 auto;
}
.addNewUsers{
	width: 45%;
	float: left;
}
.addNewUsers h2, .usersTable h2{
	font-size: 25px;
	line-height: 25px;
	margin-bottom: 10px;
}
.addNewUsers form{
	border:1px solid black;
	padding: 5px;	
}
.addNewUsers p{
	margin: 20px 0 0 0;
}
.addNewUsers p input, .addNewUsers p select{
	width: 40%;
	padding: 3px;
    font-size: 16px;
    line-height: 16px;
}
.addNewUsers p select{margin-left: 20px;}
.addNewUsers p select option{
	border-bottom:1px solid black;
}
.addNewUsers p input[type="button"]{
	padding: 7px 10px;
	font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}
.usersTable{
	width: 45%;
	float: right;
}
.usersTable table{
	width: 100%;
}
.usersTable tr th, .usersTable tr td{
	padding: 3px;
    font-size: 16px;
    line-height: 16px;
    border: 1px solid black;
}
.usersTable tr th{
	background-color: #CCC;
}
.usersTable tr td input[type="text"]{
	width: 98%;
	font-size: 16px;
    line-height: 16px;
}
/*----------------------------FOOTER-----------------------------*/
footer{
	width: 100%;
	margin: 10px auto;
 	padding: 20px;
 	border:1px solid black;
}
footer .container{
	margin: 0 auto;
}
footer .container h1{
	font-size: 30px;
	line-height: 30px;
}
footer .container p input[type="button"]{
	padding: 7px 10px;
	margin:10px 20px 0 0;
	font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}
/*------------------------notFilledField--------------------------*/
.notFilledField{
	display: none;
	position: absolute;
	font-size: 18px;
	line-height: 18px;
	border: 4px solid red;
	background: #fff;
	padding: 5px 10px;
}
.notFilledField:after, .notFilledField:before {
	bottom: 102%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.notFilledField:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.notFilledField:before {
	border-color: rgba(204, 0, 0, 0);
	border-bottom-color: #cc0000;
	border-width: 13px;
	margin-left: -13px;
}

/*-----------------------------MEDIA------------------------------*/
@media (max-width: 910px){
	.usersTable table{
		max-width: 100%;
		display: block;
		overflow: auto;
	}
}